@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

$warning: pink;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #f1fbff;
}
